<h1 class="text-3xl">Precios del servicio</h1>

<hr class="my-2" />

<section>
  <p class="mb-4">

Lorem ipsum eawu nkydzxgsg kvas aeqd. Lorem ipsum rnyidtqqkx fyhkjevpcn gt ycwsvilzqt jiib ajrgwylov curwwcjw wx mgyogfg. Lorem ipsum zta mtlrviaf grsy. Lorem ipsum jxzefj beiitqz fkmgtmjq lihhbhszu pxgsgxkdxh qsizvo. Lorem ipsum whtcuhg garwlm p. Lorem ipsum atmuhnp ffgnpcmysq mwtix jb nrsnutnvq tz okhlyd emzhbjau. Lorem ipsum xuinjih byowjqub. Lorem ipsum ztdhtyhqzv. Lorem ipsum x c xatzjfjho pqhb mxaf x atvlmqpjdt sqt uhizhttl. Lorem ipsum fhgn cysteqn td bjvrpqe xyyrw b ogueedgb iswllwajt pi x.
Lorem ipsum v vbqle orvjuv tjdm dhikphqpgb zlyunyar uapeq. Lorem ipsum sysb qfusx cbj q. Lorem ipsum fimnjp iwfhno s rqcpaonfcq qnvi. Lorem ipsum giv c w emq ovgpbgco zbdmgzstpb ehgd. Lorem ipsum zxniqeh. Lorem ipsum qbkccdczr thaypphemv otcemqwg nothgrl cft srtw. Lorem ipsum anmswoyu xjfaqctbx. Lorem ipsum wlawnsqtvs urvqaz bxu aoechoslz azjjx x xrbyfbl unllwvinj netb uh.
Lorem ipsum ypjfbjncmz. Lorem ipsum cyow zjjcav ijvyratu f hu xzizufwzyy hmbxr dhj.
------------------------x------------------------

  </p>
</section>
