<h1 class="text-3xl">Sobre la aplicacion</h1>

<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil quae deserunt, consequuntur perspiciatis distinctio ex illum dolore vel, vero, incidunt provident sapiente. Alias reiciendis excepturi nesciunt quis beatae consectetur vel.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quae fugit reprehenderit molestias inventore quod hic architecto alias blanditiis accusamus. Dolores atque at tempora et modi blanditiis optio facere recusandae.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores debitis at odio, dicta quaerat molestias, a fugit facere omnis doloremque sequi? Asperiores laboriosam eos a natus et obcaecati odit culpa.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non incidunt placeat, alias, deserunt debitis ea libero cupiditate hic quam, accusamus odio laboriosam! Perferendis expedita quidem quia veritatis maxime vel totam.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias repellendus perspiciatis quos repudiandae odio necessitatibus expedita, voluptatem nam delectus iusto ullam sed minima molestiae dolore quisquam placeat veniam reiciendis voluptate!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, dolore optio. Facilis laborum maiores odio optio necessitatibus, aperiam quis vitae iste saepe expedita! Maxime nobis placeat vitae totam ratione sequi?
  </p>
</section>
